:root {
  --primary-color: #1db954;
  --gap: 1rem;
  --padding: 1rem;
  --margin: 1rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-playlist {
  display: flex;
  align-items:flex-start;
  margin: calc(var(--margin)*3);
  padding: var(--padding);
  gap: calc(var(--gap)*6);
  border: 1px solid black;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}