button {
    background-color: var(--primary-color);
    border-radius: var(--button-border-radius);
    border: none;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    font-family: var(--family);
    font-weight: 500;
}