.Playlist {
    border: var(--border-def);
    min-height: 50vh;
    width: 50%;
    padding: var(--padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow-light);
}

.PlaylistNameButton-container {
    display: inline-block;
    justify-content: space-between;
}

.Playlist input {
    margin-top: 0;
    margin-right: calc(var(--margin)*3);
}

/*
.Playlist-save {

}
*/